{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <div class="privacy-wrap container-fluid">
        <p><b>Click Any Heading below to expand more about the Privacy Policy</b></p><br>

        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            WeThePeople Privacy Statement
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <br class="card-body">
                    The online voter registration system brought to you by <strong>WeThePeople</strong>, is committed to
                    protecting the privacy and accuracy of
                    confidential information to the extent possible, subject to provisions of <strong>state</strong> and
                    <strong>federal law</strong>.
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Your Data Privacy is Important to us!
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Although there are many applications and websites that collect information and other statistics
                        about
                        their users, we DO collect any personal information about you when you register to vote using
                        this
                        web
                        site at WeThePeople.

                        This Privacy Statement does not apply to the other local & state government web sites.
                        You should review the privacy statement posted on local & state government when you visit them.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Type of Information Collected
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        The data collected from registering users are the following; First & Last name, State Government
                        ID,
                        Social Security Number, and Password.
                        No addresses, phone numbers, e-mail addresses, IP addresses, nor access dates and times are
                        collected
                        from either registering user or visitor on the WeThePeople website.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            But why is this Information collected?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        This data collection is required for appropriate verification as a legal registered voter.
                        The activity to vote online at WeThePeople is only available to United States Citizens that are
                        met
                        with eligible criteria to vote online.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            So, by what means is this Information collected?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Upon utilizing the registration web form, the information collected to the corresponding
                        text fields; First Name, Last Name, Government ID, Social Security Number, and Password.
                        Social Security Number requires electronic approval from the registering user.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            What will it be used for? Who gets to access it?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        The collected personal information will only be used to verify with local or state government to
                        authorize the registering user the ability to vote online at WeThePeople.
                        Only System Administrators are allowed to make accessible changes to other registered voters at
                        WeThePeople.

                        Upon registration completion, consent to collect and use the information is given to
                        WeThePeople.
                        The user has no available options to opt-out or prohibit such collection and use.

                        The website is hosted with the vendor Salesforce.com, inc.
                        The information used by this vendor will only be used to verify voter status with local & state
                        government databases.

                        This site, WeThePeople, does not use any sort of analytics.
                        If analytics ever became apparent, WeThePeople will be verbose on informed or provided
                        directions to
                        disable any analytical tracking associated with the website.

                        The collected information stored will only be held until the end of every completed election
                        period.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            My Information is protected, right?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes, there are upmost security standards and safeguards in place to protect your personal
                        information
                        while visiting WeThePeople.
                        From end-to-end server and database connection, there is an SSL encryption activated upon data
                        transfer.
                        SSN and password handling in use of 2,048-bit RSA encryption for safe processing and storage.
                        Before registration you will be informed by electronic approval that this site is intended to
                        handle
                        your confidential information.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            What happens if the privacy statement changes?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        This Privacy Statement was last revised on November 15, 2020.
                        We may change this Privacy Statement at any time and for any reason. We encourage you to review
                        this
                        Privacy Statement each time you visit the web site.

                        If we decide to make a significant change to our Privacy Statement, we will post a notice on the
                        homepage of our web site for a period of time after the change is made.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            What about privacy on other web sites?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        This web site may contain links to other web sites.
                        Some of those web sites may be operated by third parties such as local or state government.
                        We provide the links for your convenience, but we do not review, control, or monitor the privacy
                        practices of web sites operated by others.

                        We are not responsible for the performance of web sites operated by third parties or for your
                        business
                        dealings with them.
                        Therefore, whenever you leave this web site we recommend that you review each web site's privacy
                        practices and make your own conclusions regarding the adequacy of these practices.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            How to contact WeThePeople
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        If you have questions or comments about this Privacy Statement, please contact us
                        privacy@WeThePeople.com.
                    </div>
                </div>

            </div>
        </div>
    </div>

    <img src="{% static 'WeThePeople/uncle-sam.png' %}" alt="Uncle Sam"/>   <!-- Uncle Sam yuuuuh -->



{% endblock %}


