<!doctype html>
<html> 
<head>

	<!-- Each heading paragraph text has a hidden text class -->
	<style type="text/css">

		h1 {text-align: center;}
		p {text-align: center;}
		b {text-align: center;}

		a {
			text-decoration: underline;
			}

		.text2 {
			display:none;
		}

		.text3 {
			display:none;
		}

		.text4 {
			display:none;
		}

		.text5 {
			display:none;
		}
									/* Each heading paragraph text has a hidden text class */
		.text6 {
			display:none;
		}
										
		.text7 {
			display:none;
		}

		.text8 {
			display:none;
		}

		.text9 {
			display:none;
		}

		.text10 {
			display:none;
		}

		.text11 {
			display:none;
		}

		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 10%;
		}
	</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> <!-- Import Jquery -->
<script src="/js/privacy.js"></script>											<!-- Import privacy.js -->
<p><b>Click Any Heading below to expand more about the Privacy Policy</b></p>

</head>

<body>

<a onclick="$('.text1, .text2').toggle('slow')"><h1>WeThePeople Privacy Statement</h1></a>
<p class="text1"></p>
<p class="text2">The online voter registration system brought to you by <b>WeThePeople</b>, is committed to protecting the privacy and accuracy of </br> confidential information to the extent possible, subject to provisions of <b>state</b> and <b>federal law</b>.</p>

<a onclick="$('.text1, .text3').toggle('slow')"><h1>Your Data Privacy is Important to us!</h1></a>
<p class="text3">Although there are many applications and websites that collect information and other statistics about </br> their users, we DO collect any personal information about you when you register to vote using this web site at <b>WeThePeople</b>.</p>
<p class="text3">This <b>Privacy Statement</b> does not apply to the other <b>local & state government</b> web sites. </br> You should review the <b>privacy statement</b> posted on <b>local & state government</b> when you visit them.</p>

<a onclick="$('.text1, .text4').toggle('slow')"><h1>Type of Information Collected</h1></a>
<p class="text4">The data collected from registering users are the following; <b>First & Last name</b>, <b>State Government ID</b>, <b>Social Security Number</b>, and <b>Password</b>. </br> <b>No</b> addresses, phone numbers, e-mail addresses, IP addresses, nor access dates and times are collected from either registering user or visitor on the <b>WeThePeople</b> website.</p>

<a onclick="$('.text1, .text5').toggle('slow')"><h1>But why is this Information collected?</h1></a>
<p class="text5">This data collection is required for appropriate verification as a legal registered voter. </br> The activity to vote online at <b>WeThePeople</b> is only available to <b>United States Citizens</b> that are met with eligible criteria to vote online.</p>

<a onclick="$('.text1, .text6').toggle('slow')"><h1>So, by what means is this Information collected?</h1></a>
<p class="text6">Upon utilizing the <b>registration web form</b>, the information collected to the corresponding </br> text fields; <b>First Name</b>, <b>Last Name</b>, <b>Government ID</b>, <b>Social Security Number</b>, and <b>Password</b>. </br> <b>Social Security Number</b> requires <b>electronic approval</b> from the registering user.</p>

<a onclick="$('.text1, .text7').toggle('slow')"><h1>What will it be used for? Who gets to access it?</h1></a>
<p class="text7">The collected personal information will only be used to verify with local or state government to authorize the registering user the ability to vote online at WeThePeople. </br> Only <b>System Administrators</b> are allowed to make accessible changes to other registered voters at WeThePeople.</p>
<p class="text7">Upon registration completion, <b>consent</b> to collect and use the information is given to WeThePeople. </br> The user has no available options to opt-out or prohibit such collection and use.</p>
<p class="text7">The website is hosted with the vendor <b>Salesforce.com, inc.</b> </br> The information used by this vendor will only be used to verify voter status with local & state government databases.</p>
<p class="text7">This site, <b>WeThePeople</b>, does not use any sort of analytics. </br> If analytics ever became apparent, <b>WeThePeople</b> will be verbose on informed or provided directions to disable any analytical tracking associated with the website.</p>
<p class="text7">The collected information stored will only be held until the <b>end of every completed election period</b>.</p>

<a onclick="$('.text1, .text8').toggle('slow')"><h1>My Information is protected, right?</h1></a>
<p class="text8">Yes, there are upmost security standards and safeguards in place to protect your personal information while visiting <b>WeThePeople</b>. </br> From end-to-end server and database connection, there is an <b>SSL encryption</b> activated upon data transfer. </br> <b>SSN</b> and <b>password</b> handling in use of <b>2,048-bit RSA encryption</b> for safe processing and storage. </br> Before registration you will be informed by <b>electronic approval</b> that this site is intended to handle your confidential information.</p>

<a onclick="$('.text1, .text9').toggle('slow')"><h1>What happens if the privacy statement changes?</h1></a>
<p class="text9">This Privacy Statement was last revised on <b>November 15, 2020</b>. </br> We may change this Privacy Statement at any time and for any reason. We encourage you to review this Privacy Statement each time you visit the web site.</p>
<p class="text9">If we decide to make a significant change to our Privacy Statement, we will post a notice on the homepage of our web site for a period of time after the change is made.</p>

<a onclick="$('.text1, .text10').toggle('slow')"><h1>What about privacy on other web sites?</h1></a>
<p class="text10">This web site may contain links to other web sites. </br> Some of those web sites may be operated by third parties such as local or state government. </br> We provide the links for your convenience, but we do not review, control, or monitor the privacy practices of web sites operated by others.</p>
<p class="text10">We are not responsible for the performance of web sites operated by third parties or for your business dealings with them. </br> Therefore, whenever you leave this web site we recommend that you review each web site's privacy practices and make your own conclusions regarding the adequacy of these practices.</p>

<a onclick="$('.text1, .text11').toggle('slow')"><h1>How to contact WeThePeople</h1></a>
<p class="text11">If you have questions or comments about this Privacy Statement, please contact us <b>privacy@WeThePeople.com.</b></p>

</body>
{% load static %}
<img src="{% static 'WeThePeople/uncle-sam.png' %}" alt="Uncle Sam" class="center"/>   <!-- Uncle Sam yuuuuh -->
</html>